*Dockerfile*
*docker-compose*
.dockerignore
node_modules
**/node_modules/
bin
obj
out
dist
venv
lib
knowledge-base
**/bin/
**/obj/
**/out/
**/dist/
**/venv/
**/lib/
**/knowledge-base/
npm-debug.log
README.md
.next
.git
.github
