DOCKER_REGISTRY=''
#DOCKER_REGISTRY=wsdev.azurecr.io/
DOCKER_IMAGE_TAG='main'
PROJECT_NAME=ws-bom-sample-basic
PROJECT_URL=http://localhost
#PROJECT_URL=https://ws-bom-sample-basic.azurewebsites.net
MONGODB_URI=mongodb://mongo:27017/${PROJECT_NAME}
PAYLOAD_SECRET=Ws-1234-secret
PAYLOAD_PUBLIC_BASE_PATH=/bowl
PAYLOAD_PUBLIC_CSRF_URLS=http://localhost
STORE_API=/oven/bowl/api
STORE_STRATEGY=api
STORE_URL=http://oven:5000
