@use "sass:math";
@import "~payload/scss";

$size: 5px;

.llm {

  .template-default__wrap,
  form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__container {
    padding-top: 1.9230769231rem;
    padding-bottom: 1.9230769231rem;
    // background: #404040;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__app {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    gap: 3em;
  }

  &__row {
    padding: 10px 0;

    h4,
    p {
      margin: 0;
    }

    pre {
      padding: 5px 10px;
      max-height: 150px;
      overflow-x: hidden;
      overflow-y: auto;
      white-space: pre-line;
      border: 1px solid var(--theme-elevation-150);
      background: var(--theme-input-bg);
    }

    .btn {
      margin: 0;
    }
  }

  &__row+.llm__row {
    border-top: 1px solid var(--theme-elevation-150);
  }

  &__flex {
    display: flex;
    column-gap: 5px;
  }

  &__main {
    flex-grow: 1;
    position: relative;
    max-height: calc(100vh - 375px);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__thread {
    display: flex;
    margin-bottom: 1em;

    &.user {
      justify-content: flex-end;
    }

    &.assistant {
      justify-content: flex-start;
    }
  }

  &__message {
    width: calc(100% - 80px);
    max-width: 600px;
    padding: 1em;
    border: 1px solid var(--theme-elevation-150);
    background: var(--theme-input-bg);
    color: var(--theme-elevation-800);
    border-radius: 0;

    p {
      margin: 0;
    }

    code {
      display: block;
      word-break: break-all;
      padding: 5px 10px;
      margin-bottom: 8px;
      border-radius: 2px;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__foot {
    flex: 0 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  .field-type.textarea {
    flex-grow: 1;
    margin: 0;

    .textarea-outer {
      height: 80px;
      max-height: 80px;
      min-height: 80px;
      line-height: 1.25;
    }
  }

  &__chatCompletion {
    position: relative;
  }

  &__busyIndicator {
    position: absolute;
    display: block;
    width: 40px;
    height: 30px;
    left: 10px;
    bottom: 0;
    // outline: 1px solid white;
    user-select: none;
    pointer-events: none;
    transition: none;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      border-radius: 50%;
      background: rgba(255, 255, 255, 1.0);
      // background: rgba(255, 255, 255, 0.6);
      transform: translate(-50%, -50%);
      z-index: 2;
      width: $size;
      height: $size;
      margin-top: $size;
      margin-left: $size * -0.5;
      animation: llmBouncing .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
      animation-delay: .20s;
    }

    &>span {

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        border-radius: 50%;
        background: rgba(255, 255, 255, 1.0);
        // background: rgba(255, 255, 255, 0.6);
        transform: translate(-50%, -50%);
        z-index: 2;
        width: $size;
        height: $size;
        margin-top: $size;
        margin-left: $size * -0.5;
        animation: llmBouncing .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
      }

      &::before {
        margin-left: $size * -2.8;
      }

      &::after {
        margin-left: $size * 1.8;
        animation-delay: .40s;
      }
    }
  }
}

@keyframes llmBouncing {
  from {
    transform: translateY(0) scaleY(.8);
  }

  to {
    transform: translateY($size * -2);
  }
}
