AZURE_CONTAINER_REGISTRY=<your-registry>
AZURE_CONTAINER_REGISTRY_USER=<your-registry-user>
AZURE_CONTAINER_REGISTRY_PWD=<your-registry-pwd>
AZURE_RESOURCE_GROUP=<your-resource-group>
AZURE_WEBAPP=<web-image-and-app-name>
AZURE_ROBOTAPP=<robot-image-and-app-name>
